.custom-tooltip {
  padding: 5px;
  border: none;
  width: 100%;
  background-color: rgba(34, 31, 31, 0.514);

  .label {
    font-size: 12px;
    text-align: center;
    height: 10px;
  }

  hr {
    border: 0.2px solid rgba(73, 71, 71, 0.589);
  }
}
