.center-widget {
  background-color: rgba(199, 188, 233, 0.089);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  justify-content: space-between;
  box-shadow: 2px 4px 10px 1px rgba(12, 10, 10, 0.247);
  border-radius: 5px;

  &:hover {
    transition: all ease 0.5s;
    transform: scale(1.01);
    cursor: pointer;
  }

  .title {
    font-size: 14px;
    font-weight: 500;
  }

  .chart {
    width: 100%;

    .grid {
      stroke: rgba(211, 211, 211, 0.082);
    }
  }
}
